.container ul li a{
    background-color: #d1f0d9;
    color:black;
    line-height:60px;
text-decoration:none ;
    font-size:30;
    border:solid;
    padding:5px;
    border-radius: 5px;
   
}

.container ul li{
    position: relative;
    top:50px;
}

.container ul li a:hover{
    background-color: rgb(241, 245, 20);
    color:black;
}

container ul li a:active{
    background-color: rgb(243, 9, 192);
    color:black;
}

container ul li a:visited{
    background-color: rgb(155, 20, 245);
    color:black;
}

.para_1{
    font-size:40px;
    font-weight: bold;
    text-decoration: ;
    text-align: center;
    color:white;
    background-color: teal;
    padding:10px;
    border:solid;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}